*{
    font-family: Arial, Helvetica, sans-serif;
}

article.layoutp{
    background-color: rgb(141, 140, 158);
    padding:20px;
    width: 80%;
    margin: 30px 5px 50px 47px; 
    box-shadow: black 1px 3px 9px 2px; 
    border-radius: 2px; 
    
}
section{
    border-style: dotted;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

article section h1{
    font-size: 10pt;
    font-style: none;
    margin-bottom: 25px;
}

article section h2{
    font-size: 10pt;

}


article section {
    margin: 12px;
    font-size: 8pt;
}

article section img{
    width: 55%;
    margin: 10px;
}

@media (max-device-width: 700px){
    
article.layoutp{
    background-color: rgb(141, 140, 158);
    padding:10px;
    width: 80%;
    margin: 30px 5px 36px 11px; 
    box-shadow: black 1px 3px 9px 2px; 
    border-radius: 2px; 
    
}
article section{
    padding: 0;
    margin: 0 auto;
}


article section img{
        width: 60%;
        margin: 3%;
}

}