
/*corpo para a pagina do texto*/
#btexto{
    background-color: rgb(255, 255, 255);
    font-family: 'calibri', sans-serif;
    margin-bottom: 0px;
    
}

/*seção para por o texto e imagens*/
h1{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt;
    margin-top: -7px;

}
#principal{
    width: 40%;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    margin-top: 10px;
    margin-bottom: 10px;

}
p{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 6pt;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 5px;
}

footer p{
  background-color: rgb(43, 42, 42);
  color: rgb(252, 252, 252);
  padding: 20px;
  text-align: center;
  font-size: 11pt;

}



#post1{
  margin-top: 20px;
  text-align: justify;

}

#post2{
    margin-top: 20px;
    text-align: justify;

}

#post3{
    margin-top: 20px;
    text-align: justify;
}

#post4{
    margin-top: 20px;
    text-align: justify;
}

section{
    border-style: dotted;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}


div.stexto{
    background-color: rgb(141, 140, 158);
    padding:20px;
    width: 80%;
    margin: 30px 5px 50px 47px; 
    box-shadow: black 1px 3px 9px 2px; 
    border-radius: 2px;
    
    
}


#jogo1{
  max-width: 30%;
  margin-top: -5px;
  
}

#jogo2{
    width: 20%;
    margin-top: -5px;
 
}




/*       IMAGEM  ROTACIONAL    1      */
  .slider {
    margin: 0 auto;
    max-width: 60%;
  }
  
  .slide_viewer {
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background-image: url(../midia/my\ oasis.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide:nth-of-type(2) {
    background-image: url(../midia/myoasis4.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide:nth-of-type(3) {
    background-image: url(../midia/myoasis3jpg.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide:nth-of-type(4) {
    background-image: url(../midia/my\ oasis2.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 22px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav {
    margin: 0 auto;
    max-width: 60%;

  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 270px;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 270px;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }


  /*       IMAGEM  ROTACIONAL    2      */
  .slider1 {
    margin: 0 auto;
    max-width: 60%;
  }
  
  .slide_viewer1 {
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group1 {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide1 {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide1:first-child {
    display: block;
  }
  
  .slide1:nth-of-type(1) {
    background-image: url(../midia/i-love-hue-app.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide1:nth-of-type(2) {
    background-image: url(../midia/ilove2.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide1:nth-of-type(3) {
    background-image: url(../midia/ilove3.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide1:nth-of-type(4) {
    background-image: url(../midia/ilove4.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide_buttons1 {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn1 {
    color: #474544;
    font-size: 22px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn1.active, .slide_btn1:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav1 {
    margin: 0 auto;
    max-width: 60%;

  }
  
  .previous_btn1 {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 270px;
  }
  
  .next_btn1 {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 270px;
  }
  
  .previous_btn1, .next_btn1 {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn1:hover, .next_btn1:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }


  /*       IMAGEM  ROTACIONAL    3     */
  .slider2 {
    margin: 0 auto;
    max-width: 60%;
  }
  
  .slide_viewer2 {
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group2 {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide2 {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide2:first-child {
    display: block;
  }
  
  .slide2:nth-of-type(1) {
    background-image: url(../midia/pigmente=[.jpeg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide2:nth-of-type(2) {
    background-image: url(../midia/pigment2.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide2:nth-of-type(3) {
    background-image: url(../midia/pigment3.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide2:nth-of-type(4) {
    background-image: url(../midia/pigment4.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide_buttons2 {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn2 {
    color: #474544;
    font-size: 22px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn2.active, .slide_btn2:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav2 {
    margin: 0 auto;
    max-width: 60%;

  }
  
  .previous_btn2 {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 270px;
  }
  
  .next_btn2 {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 270px;
  }
  
  .previous_btn2, .next_btn2 {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn2:hover, .next_btn2:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }


    /*       IMAGEM  ROTACIONAL    3     */
    .slider3 {
        margin: 0 auto;
        max-width: 60%;
      }
      
      .slide_viewer3 {
        height: 100px;
        overflow: hidden;
        position: relative;
      }
      
      .slide_group3 {
        height: 100%;
        position: relative;
        width: 100%;
      }
      
      .slide3 {
        display: none;
        height: 100%;
        position: absolute;
        width: 100%;
      }
      
      .slide3:first-child {
        display: block;
      }
      
      .slide3:nth-of-type(1) {
        background-image: url(../midia/viridi2jpg.jpg);
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      .slide3:nth-of-type(2) {
        background-image: url(../midia/viridi3.jpg);
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      .slide3:nth-of-type(3) {
        background-image: url(../midia/viridi4.jpg);
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      .slide3:nth-of-type(4) {
        background-image: url(../midia/viridi.jpg);
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      .slide_buttons3 {
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
      }
      
      a.slide_btn3 {
        color: #474544;
        font-size: 22px;
        margin: 0 0.175em;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      
      .slide_btn3.active, .slide_btn3:hover {
        color: #428CC6;
        cursor: pointer;
      }
      
      .directional_nav3 {
        margin: 0 auto;
        max-width: 60%;
    
      }
      
      .previous_btn3 {
        bottom: 0;
        left: 100px;
        margin: auto;
        position: absolute;
        top: 270px;
      }
      
      .next_btn3 {
        bottom: 0;
        margin: auto;
        position: absolute;
        right: 100px;
        top: 270px;
      }
      
      .previous_btn3, .next_btn3 {
        cursor: pointer;
        height: 65px;
        opacity: 0.5;
        -webkit-transition: opacity 0.4s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out;
        -ms-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
        width: 65px;
      }
      
      .previous_btn3:hover, .next_btn3:hover {
        opacity: 1;
      }
      
      @media only screen and (max-width: 767px) {
        .previous_btn {
          left: 50px;
        }
        .next_btn {
          right: 50px;
        }
      }




      @media only screen and (max-device-width: 900px){

 
        img#principal{
          width: 80%;
      }


        #btexto{
          background-color: rgb(255, 255, 255);
          font-family: 'calibri', sans-serif;
          margin-bottom: 0px;
          
          
      }
      /*seção para por o texto e imagens*/
      h1{
          
          font-family: Arial, Helvetica, sans-serif;
          font-size: 7pt;
          margin-top: -7px;
      
      }
      #principal{
          width: 40%;
      }
      
      h2{
          font-family: Arial, Helvetica, sans-serif;
          font-size: 9pt;
      
      }
      p{
          font-family: Helvetica, sans-serif;
          font-size: 5pt;
          text-align: justify;
          margin-top: 10px;
      }
      
      #post1{
        margin-top: 20px;
        text-align: justify;
      
      }
    
      #post2{
      
          margin-top: 20px;
          text-align: justify;
      
      }
      
      #post3{
          margin-top: 20px;
          text-align: justify;
      }
      
      #post4{
          margin-top: 20px;
          text-align: justify;
      }
      
      section{
          border-style: dotted;
          border-bottom-width: 1px;
          border-top-width: 0;
          border-right-width: 0;
          border-left-width: 0;
          
      }
      
      
      div.stexto{
          background-color: rgb(141, 140, 158);
          padding:15px;
          width: 80%;
          margin: 20px 20px 20px 5px; 
          box-shadow: black 1px 3px 9px 2px; 
          border-radius: 2px;
          
          
      }
      
      
      
      #jogo1{
        max-width: 30%;
        margin-top: -5px;
        
      }
      
      #jogo2{
          width: 20%;
          margin-top: -5px;
       
      }
      
  
      
      /*       IMAGEM  ROTACIONAL    1      */
        .slider {
          margin: 0 auto;
          max-width: 60%;
        }
        
        .slide_viewer {
          height: 100px;
          overflow: hidden;
          position: relative;
        }
        
        .slide_group {
          height: 100%;
          position: relative;
          width: 100%;
        }
        
        .slide {
          display: none;
          height: 100%;
          position: absolute;
          width: 100%;
        }
        
        .slide:first-child {
          display: block;
        }
        
        .slide:nth-of-type(1) {
          background-image: url(../midia/my\ oasis.png);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide:nth-of-type(2) {
          background-image: url(../midia/myoasis4.png);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide:nth-of-type(3) {
          background-image: url(../midia/myoasis3jpg.jpg);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide:nth-of-type(4) {
          background-image: url(../midia/my\ oasis2.png);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide_buttons {
          left: 0;
          position: absolute;
          right: 0;
          text-align: center;
        }
        
        a.slide_btn {
          color: #474544;
          font-size: 22px;
          margin: 0 0.175em;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
        }
        
        .slide_btn.active, .slide_btn:hover {
          color: #428CC6;
          cursor: pointer;
        }
        
        .directional_nav {
          margin: 0 auto;
          max-width: 60%;
      
        }
        
        .previous_btn {
          bottom: 0;
          left: 100px;
          margin: auto;
          position: absolute;
          top: 270px;
        }
        
        .next_btn {
          bottom: 0;
          margin: auto;
          position: absolute;
          right: 100px;
          top: 270px;
        }
        
        .previous_btn, .next_btn {
          cursor: pointer;
          height: 65px;
          opacity: 0.5;
          -webkit-transition: opacity 0.4s ease-in-out;
          -moz-transition: opacity 0.4s ease-in-out;
          -ms-transition: opacity 0.4s ease-in-out;
          -o-transition: opacity 0.4s ease-in-out;
          transition: opacity 0.4s ease-in-out;
          width: 65px;
        }
        
        .previous_btn:hover, .next_btn:hover {
          opacity: 1;
        }
        
        @media only screen and (max-width: 767px) {
          .previous_btn {
            left: 50px;
          }
          .next_btn {
            right: 50px;
          }
        }
      
      
        /*       IMAGEM  ROTACIONAL    2      */
        .slider1 {
          margin: 0 auto;
          max-width: 60%;
        }
        
        .slide_viewer1 {
          height: 100px;
          overflow: hidden;
          position: relative;
        }
        
        .slide_group1 {
          height: 100%;
          position: relative;
          width: 100%;
        }
        
        .slide1 {
          display: none;
          height: 100%;
          position: absolute;
          width: 100%;
        }
        
        .slide1:first-child {
          display: block;
        }
        
        .slide1:nth-of-type(1) {
          background-image: url(../midia/i-love-hue-app.jpg);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide1:nth-of-type(2) {
          background-image: url(../midia/ilove2.jpg);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide1:nth-of-type(3) {
          background-image: url(../midia/ilove3.jpg);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide1:nth-of-type(4) {
          background-image: url(../midia/ilove4.jpg);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide_buttons1 {
          left: 0;
          position: absolute;
          right: 0;
          text-align: center;
        }
        
        a.slide_btn1 {
          color: #474544;
          font-size: 22px;
          margin: 0 0.175em;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
        }
        
        .slide_btn1.active, .slide_btn1:hover {
          color: #428CC6;
          cursor: pointer;
        }
        
        .directional_nav1 {
          margin: 0 auto;
          max-width: 60%;
      
        }
        
        .previous_btn1 {
          bottom: 0;
          left: 100px;
          margin: auto;
          position: absolute;
          top: 270px;
        }
        
        .next_btn1 {
          bottom: 0;
          margin: auto;
          position: absolute;
          right: 100px;
          top: 270px;
        }
        
        .previous_btn1, .next_btn1 {
          cursor: pointer;
          height: 65px;
          opacity: 0.5;
          -webkit-transition: opacity 0.4s ease-in-out;
          -moz-transition: opacity 0.4s ease-in-out;
          -ms-transition: opacity 0.4s ease-in-out;
          -o-transition: opacity 0.4s ease-in-out;
          transition: opacity 0.4s ease-in-out;
          width: 65px;
        }
        
        .previous_btn1:hover, .next_btn1:hover {
          opacity: 1;
        }
        
        @media only screen and (max-width: 767px) {
          .previous_btn {
            left: 50px;
          }
          .next_btn {
            right: 50px;
          }
        }
      
      
        /*       IMAGEM  ROTACIONAL    3     */
        .slider2 {
          margin: 0 auto;
          max-width: 60%;
        }
        
        .slide_viewer2 {
          height: 100px;
          overflow: hidden;
          position: relative;
        }
        
        .slide_group2 {
          height: 100%;
          position: relative;
          width: 100%;
        }
        
        .slide2 {
          display: none;
          height: 100%;
          position: absolute;
          width: 100%;
        }
        
        .slide2:first-child {
          display: block;
        }
        
        .slide2:nth-of-type(1) {
          background-image: url(../midia/pigmente=[.jpeg);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide2:nth-of-type(2) {
          background-image: url(../midia/pigment2.jpg);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide2:nth-of-type(3) {
          background-image: url(../midia/pigment3.jpg);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide2:nth-of-type(4) {
          background-image: url(../midia/pigment4.jpg);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        .slide_buttons2 {
          left: 0;
          position: absolute;
          right: 0;
          text-align: center;
        }
        
        a.slide_btn2 {
          color: #474544;
          font-size: 22px;
          margin: 0 0.175em;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
        }
        
        .slide_btn2.active, .slide_btn2:hover {
          color: #428CC6;
          cursor: pointer;
        }
        
        .directional_nav2 {
          margin: 0 auto;
          max-width: 60%;
      
        }
        
        .previous_btn2 {
          bottom: 0;
          left: 100px;
          margin: auto;
          position: absolute;
          top: 270px;
        }
        
        .next_btn2 {
          bottom: 0;
          margin: auto;
          position: absolute;
          right: 100px;
          top: 270px;
        }
        
        .previous_btn2, .next_btn2 {
          cursor: pointer;
          height: 65px;
          opacity: 0.5;
          -webkit-transition: opacity 0.4s ease-in-out;
          -moz-transition: opacity 0.4s ease-in-out;
          -ms-transition: opacity 0.4s ease-in-out;
          -o-transition: opacity 0.4s ease-in-out;
          transition: opacity 0.4s ease-in-out;
          width: 65px;
        }
        
        .previous_btn2:hover, .next_btn2:hover {
          opacity: 1;
        }
        
        @media only screen and (max-width: 767px) {
          .previous_btn {
            left: 50px;
          }
          .next_btn {
            right: 50px;
          }
        }
      
      
          /*       IMAGEM  ROTACIONAL    3     */
          .slider3 {
              margin: 0 auto;
              max-width: 60%;
            }
            
            .slide_viewer3 {
              height: 100px;
              overflow: hidden;
              position: relative;
            }
            
            .slide_group3 {
              height: 100%;
              position: relative;
              width: 100%;
            }
            
            .slide3 {
              display: none;
              height: 100%;
              position: absolute;
              width: 100%;
            }
            
            .slide3:first-child {
              display: block;
            }
            
            .slide3:nth-of-type(1) {
              background-image: url(../midia/viridi2jpg.jpg);
              background-size: 100%;
              background-position: center;
              background-repeat: no-repeat;
            }
            
            .slide3:nth-of-type(2) {
              background-image: url(../midia/viridi3.jpg);
              background-size: 100%;
              background-position: center;
              background-repeat: no-repeat;
            }
            
            .slide3:nth-of-type(3) {
              background-image: url(../midia/viridi4.jpg);
              background-size: 100%;
              background-position: center;
              background-repeat: no-repeat;
            }
            
            .slide3:nth-of-type(4) {
              background-image: url(../midia/viridi.jpg);
              background-size: 100%;
              background-position: center;
              background-repeat: no-repeat;
            }
            
            .slide_buttons3 {
              left: 0;
              position: absolute;
              right: 0;
              text-align: center;
            }
            
            a.slide_btn3 {
              color: #474544;
              font-size: 22px;
              margin: 0 0.175em;
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -ms-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
            }
            
            .slide_btn3.active, .slide_btn3:hover {
              color: #428CC6;
              cursor: pointer;
            }
            
            .directional_nav3 {
              margin: 0 auto;
              max-width: 60%;
          
            }
            
            .previous_btn3 {
              bottom: 0;
              left: 100px;
              margin: auto;
              position: absolute;
              top: 270px;
            }
            
            .next_btn3 {
              bottom: 0;
              margin: auto;
              position: absolute;
              right: 100px;
              top: 270px;
            }
            
            .previous_btn3, .next_btn3 {
              cursor: pointer;
              height: 65px;
              opacity: 0.5;
              -webkit-transition: opacity 0.4s ease-in-out;
              -moz-transition: opacity 0.4s ease-in-out;
              -ms-transition: opacity 0.4s ease-in-out;
              -o-transition: opacity 0.4s ease-in-out;
              transition: opacity 0.4s ease-in-out;
              width: 65px;
            }
            
            .previous_btn3:hover, .next_btn3:hover {
              opacity: 1;
            }
        }
            @media only screen and (max-width: 767px) {
              .previous_btn {
                left: 50px;
              }
              .next_btn {
                right: 50px;
              }  
            }