*{
  margin: auto 0;
}

div.container{
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}

body{
  background-image: url(../midia/fundo.png); 
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 150px;  

}

#botao.btn.btn-primary{
  margin-top: 0px;
  margin-left: 0px;
}

@media only screen and (max-device-width: 900px){
  
  body{
    background-image: url(../midia/fundo.png); 
    background-repeat: round;
    background-size: 100%;
    background-position-y: 500px;  
    height: 100%;
  
  }
}






