div.container{
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}

body{
  margin-right: 10px;
  background-image: url(../midia/fundo.png); 
  background-repeat: no-repeat;
  background-size: cover;
}

#botao.btn.btn-primary{
  margin-top: 0px;
  margin-left: 0px;
}





#cad{
    background-color: rgb(43, 42, 42);
    color: blanchedalmond;
    padding: 20px;
    margin-left: -5px;
    margin-right: -7px;
    position: absolute;
    width: 1360px;
    text-align: center;
}


